/* Utils */
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
}

.card {
    background: var(--surface-card);
    border: 1px solid var(--surface-border);
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: var(--card-shadow);
    border-radius: $borderRadius;

    &:last-child {
        margin-bottom: 0;
    }
}

.p-toast {
    &.p-toast-top-right,
    &.p-toast-top-left,
    &.p-toast-top-center {
        top: 100px;
    }
}

.truncate { 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.overlay {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
}

.flex-center { 
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-dialog-content {
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}